body{
margin: 0%;
margin-bottom: 5%;
background-color: black;
margin-left: 10%;
margin-right: 10%;
margin-top: 5%;
}
header {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
}
.my_img{
    border-radius: 49%;
    height: 215px;
    width: 230px;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 79px;
    color: white;
    word-spacing: 20px;
}
.job{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:black;
    border: solid 5px rgb(255, 255, 50);
    background-color: rgb(255, 255, 50);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.main{
    display: flex;
    justify-content:center;
}
.left{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    border-right: solid 2px grey;
    padding-right: 2%;
    padding-left: 5%;
}
.pd{
    padding-top: 0px;
    color: rgb(255, 255, 50);
    font-size: 40px;
}
.dob{
    padding-top: 10px;
    font-size: 17px;

}
.cnt{
    padding-top: 30px;
    font-size: 40px;
    color: rgb(255, 255, 50);
}
.portf{
    padding-top: 30px;
    font-size: 40px;
    color:rgb(255, 255, 50) ;
}
a{
    color: white;
}
.pob{
    font-size: 26px;
    color: grey;
    padding-top: 10px;
}
.right{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pdRight{
    padding-top: 0px;
    color: rgb(255, 255, 50);
    font-size: 40px;
    padding-left: 20%;
}
.container{
    max-width: 1200px;
}
.dobRight{

    padding-top: 10px;
    font-size: 17px;
    line-height: 30px;
    padding-left: 15%;
}
@media (max-width:500px){
    .container{
        max-width: none;
    }
    .main{
    flex-direction: column;
    }
    .left{
        padding-left: 0;
        padding-right: 0;
        border-right: none;
    }
    .pdRight{
        padding-left: 0;
        padding-top: 5%;
    }
    .dobRight{
        padding-left: 0;
    }
    .name{
        font-size: 60px;
    }

}